.blog_list{
    margin: 2rem auto;
    padding: 3rem 4rem;
}

.blog_list .blog_item{
    width: 100%;
    height: 300px;
    border: solid #eee 1px;
}

.blog_list .blog_item .blog_item_media{
    height:140px;
}

.blog_list .blog_item .blog_item_title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog_list .blog_item .blog_readmore{
    font-weight: bold
}

@media only screen and (max-width:960px){
    .blog_list{
        padding: 1.5rem 2rem;
    }
}

@media only screen and (max-width:600px){
    .blog_list{
        padding: 1rem 1.5rem;
    }
}