.blog_list{
    margin: 2rem auto;
    padding: 3rem 9rem;
}

.blog_list .blog_item{
    width: 100%;
    border: solid #eee 1px;
}

.blog_list .blog_item .blog_item_media{
    height:140px;
}

.blog_list .blog_item .blog_item_title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog_list .blog_item .blog_item_time{
    color:#8c8c8c;
}

.blog_list .blog_item .blog_btn{
    float: right;
}

.blog_list .blog_item .blog_btn .blog_readmore{
    font-weight: bold
}

@media only screen and (max-width:960px){
    .blog_list{
        padding: 1.5rem 6rem;
    }
}

@media only screen and (max-width:600px){
    .blog_list{
        padding: 1rem 2rem;
    }
}