.detail_dialog{
    padding: 0;
}

.detail_dialog .detail_dialog_title{
    flex: 1;
    -ms-flex: 1;
}

.detail_dialog .detail_dialog_paper{
    margin: 5rem auto;
    padding: 1rem;
    width: 94%;
    font-size: 1rem;
}