.detail_dialog{
    padding: 0;
}

.detail_dialog .detail_dialog_title{
    flex: 1;
    -ms-flex: 1;
}

.detail_dialog .detail_dialog_paper{
    margin-top: 4rem;
    padding: 1rem;
    font-size: 1rem;
}